{
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}
