@layer tokens, components;

@layer animations {
  :root {
    --animation-fadein-duration: 900ms;
    --animation-slidein-duration: 600ms;
    --animation-delay: 10ms;
  }
}

@layer tokens {
  :root {
    /* Spacing */
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
    --spacing-12: 48px;
    --spacing-13: 52px;
    --spacing-14: 56px;
    --spacing-18: 72px;
    --spacing-50: 200px;

    /* Radius  */
    --radius-1: 4px;
    --radius-1-5: 6px;

    /* Layout */
    --layout-max-w: 824px;

    /* Breakpoints */
    --screen-sm: 640px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1280px;
    --screen-2xl: 1536px;

    /* Typography */
    --title-lg: 3.2rem;
    --title-md: 2.8rem;
    --title-sm: 2.4rem;
    --title-xs: 2rem;
    --body: 1.8rem;
    --body-xs: 1.6rem;
  }

  .light {
    /* Colors  */
    --color-100: #151515;
    --color-200: #5a5a5a;
    --color-300: #707070;
    --color-400: #e2e2e2;
    --color-500: #f8f8f8;
    --color-600: #fafafa;
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--color-500);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
