@layer tokens {
  .dark {
    --color-main-100: #151515;
    --color-main-200: #5a5a5a;
    --color-main-300: #cccccc;
    --color-main-400: #e2e2e2;
    --color-main-500: #f8f8f8;
    --color-main-600: #fafafa;
  }
}
