.hero {
  margin-top: var(--spacing-14);
  width: 100%;
  max-width: var(--layout-max-w);
  padding: 0 var(--spacing-8);

  @media (min-width: 1024px) {
    margin-top: var(--spacing-18);
  }
}

.title {
  font-size: 3.2rem;
  color: var(--color-100);
  font-family: var(--font-serif);
}

.text {
  font-size: 1.6rem;
  color: var(--color-300);
  line-height: 28px;
  letter-spacing: -0.1px;
  font-family: var(--font-sans);
  margin-bottom: var(--spacing-2);

  @media (min-width: 768px) {
    margin-bottom: var(spacing--6);
    font-size: 1.8rem;
  }

  > span {
    color: var(--color-100);
    font-weight: 500;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.link {
  display: inline-block;
  font-size: 1.8rem;
  color: var(--color-200);
  position: relative;
  text-decoration: underline dotted var(--color-200);
  text-underline-offset: var(--spacing-1);
  outline-offset: var(--spacing-1);
  border-radius: var(--radius-1-5);
  font-family: var(--font-serif);
  margin-top: var(--spacing-12);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      color 200ms,
      text-decoration-color 200ms;
  }

  &:focus-visible {
    outline-color: var(--color-100);
  }

  &:hover {
    color: var(--color-100);
    text-decoration-color: var(--color-100);
  }
}
