.hero {
  margin-top: var(--spacing-12);
  width: 100%;
  max-width: var(--layout-max-w);
  padding: 0 var(--spacing-8);

  @media (min-width: 1024px) {
    margin-top: var(--spacing-50);
  }
}

.title {
  font-size: 3.2rem;
  font-size: clamp(3.6rem, 4vw, 5.2rem);
  color: var(--color-100);
}

.text {
  font-size: 2.4rem;
  font-size: clamp(1.8rem, 4vw, 2.4rem);
  color: var(--color-300);
}
