.header {
  --header-translate-y: 10%;

  padding: var(--spacing-8) var(--spacing-8) 0 var(--spacing-8);
  justify-content: space-between;
  width: 100%;
  max-width: var(--layout-max-w);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);

  @media (min-width: 470px) {
    flex-direction: row;
    gap: 0px;
    padding-top: var(--spacing-12);
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slidein {
    from {
      transform: translateY(var(--header-translate-y));
    }

    to {
      transform: translateY(0%);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transform: translateY(var(--header-translate-y));
    opacity: 0;
    animation:
      fadein var(--animation-fadein-duration) forwards,
      slidein var(--animation-slidein-duration) forwards;
    animation-delay: 400ms;
  }
}

.navlist {
  display: flex;
  gap: var(--spacing-4);
  list-style: none;
  padding: 0;
}

.navlink {
  --navlink-color: var(--color-200);
  font-weight: 400;
  color: var(--navlink-color);
  text-decoration: none;
  position: relative;
  outline-offset: -1px;
  border-radius: var(--radius-1-5);
  transition: background-color 100ms;
  font-size: 1.8rem;
  font-family: var(--font-serif);

  @media (min-width: 768px) {
    padding: var(--spacing-2);
  }

  &:focus-visible {
    outline-color: var(--color-100);
  }

  &:active {
    background-color: var(--color-500);
  }

  &::after {
    content: " ";
    position: absolute;
    background-color: var(--navlink-color);
    border-radius: 8px;
    height: 2px;
    width: 16px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 200ms;
    }
  }

  &:hover::after {
    transform: translateX(-50%) scale(1);
  }

  &:active:after {
    transform: translateX(-50%) scale(0);
  }
}

.navlink-active {
  --navlink-active-color: var(--color-100);
  color: var(--navlink-active-color);

  &:after {
    background-color: var(--navlink-active-color);
    transform: translateX(-50%) scale(1);
  }

  &:focus-visible::before {
    border-color: var(--navlink-active-color);
  }
}
