.footer {
  border-top: solid 1px var(--color-400);
  width: 100%;
  max-width: var(--layout-max-w);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4);
}

.made-with {
  font-size: 1.6rem;
  font-family: var(--font-serif);
  color: var(--color-200);
}

.links-container {
  display: flex;
  gap: var(--spacing-4);
}
