.footer {
  border-top: solid 1px var(--color-400);
  width: 100%;
  max-width: var(--layout-max-w);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4);

  --footer-y: 20%;
  margin-top: var(--spacing-12);

  @keyframes footer-fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    animation: footer-fadein 900ms forwards;
    animation-delay: var(--animation-delay);
  }
}

.made-with {
  font-size: var(--body-xs);
  font-family: var(--font-serif);
  color: var(--color-200);
}

.links-container {
  display: flex;
  gap: var(--spacing-4);
}
