.footer {
  border-top: solid 1px var(--color-400);
  width: 100%;
  max-width: var(--layout-max-w);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4);

  --footer-y: 20%;
  margin-top: var(--spacing-12);

  @keyframes footer-fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes footer-slidein {
    from {
      transform: translateY(var(--footer-y));
    }

    to {
      transform: translateY(0%);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transform: translateY(var(--footer-y));
    opacity: 0;
    animation:
      footer-fadein 900ms forwards,
      footer-slidein 600ms forwards;
    animation-delay: 1.2s;
  }
}

.made-with {
  font-size: 1.6rem;
  font-family: var(--font-serif);
  color: var(--color-200);
}

.links-container {
  display: flex;
  gap: var(--spacing-4);
}
