.container {
  --container-translate-y: 2%;
  margin-top: var(--spacing-14);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  @keyframes container-fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes container-slidein {
    from {
      transform: translateY(var(--container-translate-y));
    }

    to {
      transform: translateY(0%);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transform: translateY(var(--container-translate-y));
    opacity: 0;
    animation:
      container-fadein var(--animation-fadein-duration) forwards,
      container-slidein var(--animation-slidein-duration) forwards;
    animation-delay: var(--animation-delay);
  }

  @media (min-width: 768px) {
    margin-top: var(--spacing-18);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--spacing-8);
  }
}

.text-container {
  grid-column-start: 1;
  grid-column-end: 4;
}

.title {
  font-size: 2.4rem;
  font-family: var(--font-serif);
  color: var(--color-100);
}

.text {
  font-size: var(--body-xs);
  font-family: var(--font-sans);
  color: var(--color-200);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.snippet-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);

  > p {
    font-size: var(--body-xs);
    color: var(--color-200);
    font-family: var(--font-sans);
  }
}

.snippet-header {
  display: flex;
  justify-content: space-between;

  > h2 {
    font-size: var(--body);
    color: var(--color-100);
    font-family: var(--font-serif);
  }

  > span {
    background-color: var(--color-100);
    color: var(--color-600);
    font-family: var(--font-serif);
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-1);
    border-radius: 2px;
  }
}
