.hero {
  margin-top: var(--spacing-14);
  width: 100%;
  max-width: var(--layout-max-w);
  padding: 0 var(--spacing-8);
  margin-bottom: var(--spacing-12);

  @media (min-width: 1024px) {
    margin-top: var(--spacing-18);
  }
}

.title {
  --title-translate-y: 20%;
  font-size: 3.2rem;
  color: var(--color-100);
  font-family: var(--font-serif);

  @keyframes title-fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes title-slidein {
    from {
      transform: translateY(var(--title-translate-y));
    }

    to {
      transform: translateY(0%);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transform: translateY(var(--title-translate-y));
    opacity: 0;
    animation:
      title-fadein var(--animation-fadein-duration) forwards,
      title-slidein var(--animation-slidein-duration) forwards;
    animation-delay: 10ms;
  }
}

.text {
  --text-translate-y: 20%;
  font-size: 1.6rem;
  color: var(--color-300);
  line-height: 28px;
  letter-spacing: -0.1px;
  font-family: var(--font-sans);
  margin-top: var(--spacing-2);

  @media (min-width: 768px) {
    margin-bottom: var(spacing--6);
    font-size: 1.8rem;
  }

  > span {
    color: var(--color-100);
    font-weight: 500;
  }

  @keyframes text-fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes text-slidein {
    from {
      transform: translateY(var(--text-translate-y));
    }

    to {
      transform: translateY(0%);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transform: translateY(var(--text-translate-y));
    opacity: 0;
    animation:
      text-fadein var(--animation-fadein-duration) forwards,
      text-slidein var(--animation-slidein-duration) forwards;
    animation-delay: 10ms;
  }
}

.text-link {
  font-family: var(--font-sans);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.email-link {
  --email-link-translate-y: 20%;
  margin-top: var(--spacing-12);

  @keyframes email-fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes email-slidein {
    from {
      transform: translateY(var(--email-link-translate-y));
    }

    to {
      transform: translateY(0%);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    transform: translateY(var(--email-link-translate-y));
    opacity: 0;
    animation:
      email-fadein var(--animation-fadein-duration) forwards,
      email-slidein var(--animation-slidein-duration) forwards;
    animation-delay: 10ms;
  }
}
